[Unit]
Description=i3lock on suspend
Before=suspend.target

[Service]
User=sepe
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/pylock.py

[Install]
WantedBy=suspend.target